
.heading {
    margin: auto;
    box-sizing: border-box;
    transition: all 0.35s linear;
    font-family: sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.button {
      font-weight: 300;
      color: #fff;
      font-size: 1.2em;
      text-decoration: none;
      border: 1px solid #efefef;
      padding: 1em;
      background: #007aff;
      border-radius: 3px;
      float: left;
      margin: 6em 0 0 -155px;
      left: 50%;
      position: relative;
      cursor:pointer;
    }

    .button:hover {
      background-color: #fff;
      color: #007aff;
        box-shadow: 0px 0px 5px -2px grey;
    }
    body {
    margin: 0;
    padding: 0;
    background-image: url("../../static/img/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.35s linear;
}
.footer {
	color: #e4e0e0;
	text-align:right;
	position: fixed;
 	bottom: 20px;
 	right: 20px;
 	width: 100%;
}